<h1>Lista de productos</h1>

<ul>
    {{#each products}}
        <li>
            <strong>{{nombre}}</strong> - ${{precio}} <br />
            <img src="{{img}}" alt="{{nombre}}" width="150" />
        </li>
    {{/each}}
</ul>
